{% extends "base.html" %}

{% block title %}Print Bill{% endblock %}

{% block content %}
<h1>Bill information</h1>
<p>Order ID: {{ order.orderid }}</p>
<p>Customer Name: {{ order.customer_name }}</p>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items_with_subtotal %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><strong>Total: {{ total }}</strong></p>

<button onclick="window.print()">Print Bill</button>
<button onclick="window.location.href='/'">Home</button>
{% endblock %}